@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
  z-index: 999;
}

.header {
  padding: 28px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  position: relative;
  width: 100%;
  background-color: #fff;

  .logo {
    display: block;
  }

  .menuLinks,
  .inviteButton {
    display: none;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 32px 32px 33px;
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 1000;

  .storiesLink,
  .featuresLink,
  .pricingLink {
    color: #000;
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2.5px;
    background: transparent;
    text-decoration: none;
  }

  .featuresLink,
  .pricingLink {
    margin-top: 20px;
  }

  .line {
    width: 100%;
    height: 1px;
    opacity: 0.25;
    background: #000;
    margin-top: 20px;
  }

  .inviteButton {
    background: #000;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding: 14px 0px;
    width: 100%;
    margin-top: 20px;
  }
}

.menuNone {
  display: none;
}

.illustration1 {
  background-color: #000000;

  .hero {
    width: 100%;
  }

  .illustrationTexts {
    padding: 0px 24px 72px 33px;

    .line {
      width: 128px;
      height: 6px;
      margin-top: -5px;
      background: linear-gradient(
        27deg,
        #ffc593 0%,
        #bc7198 51.95%,
        #5a77ff 100%
      );
    }
    .heading {
      margin-top: 66px;
      color: #fff;
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 3.333px;
      width: 318px;
    }

    .about {
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      opacity: 0.6000000238418579;
      margin-top: 16px;
    }

    .submitPart {
      display: flex;
      margin-top: 23px;
      align-items: center;
      gap: 18px;
      .inviteButton {
        color: #ffffff;
        background-color: transparent;
        border: none;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
      }
    }
  }
}

.illustration2 {
  .computerPicture {
    width: 100%;
  }

  .illustrationTexts {
    padding: 72px 24px 72px 33px;
    .heading {
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 3.333px;
      width: 318px;
    }

    .about {
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      opacity: 0.6000000238418579;
      margin-top: 16px;
    }

    .submitPart {
      display: flex;
      margin-top: 23px;
      align-items: center;
      gap: 18px;
      .inviteButton {
        background-color: transparent;
        border: none;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
      }
    }
  }

  .computerPictureTablet {
    display: none;
  }
}

.illustration3 {
  .heroImage {
    width: 100%;
  }

  .illustrationTexts {
    padding: 72px 24px 72px 33px;
    .heading {
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 3.333px;
      width: 318px;
    }

    .about {
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      opacity: 0.6000000238418579;
      margin-top: 16px;
    }

    .submitPart {
      display: flex;
      margin-top: 23px;
      align-items: center;
      gap: 18px;
      .inviteButton {
        background-color: transparent;
        border: none;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
      }
    }
  }
}

.card1,
.card2,
.card3,
.card4 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 375px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url(./assets/stories/mobile/mountains.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0px 32px 40px 33px;
  .title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
  }

  .author {
    color: #fff;
    font-size: 13px;
    margin-top: 4px;
  }

  .line {
    width: 100%;
    height: 1px;
    opacity: 0.25;
    background: #fff;
    margin-top: 16px;
  }

  .submitPart {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .readButton {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
  }
}

.card2 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url(./assets/stories/mobile/cityscapes.jpg);
}

.card3 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url(./assets/stories/mobile/18-days-voyage.jpg);
}

.card4 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0.27%,
      rgba(0, 0, 0, 0.661222) 100%
    ),
    url(./assets/stories/mobile/architecturals.jpg);
}

.features,
.features1,
.features2 {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    margin-top: 48px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
  }

  .aboutFeature {
    width: 310px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 16px;
  }
}

.features1 {
  padding-top: 56px;
}

.features2 {
  padding-top: 56px;
  margin-bottom: 80px;
}

.footer {
  padding: 56px 60px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;

  .mediaDiv {
    display: none;
  }

  .socialMedia {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    .media {
      filter: brightness(0) invert(1);
    }
  }

  .buttonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 49px;
    gap: 19px;

    .footerButton {
      border: none;
      background: transparent;
      color: #fff;
      text-align: center;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }

  .submitPart {
    display: flex;
    margin-top: 119px;
    align-items: center;
    gap: 18px;
    .inviteButton {
      color: #fff;
      background-color: transparent;
      border: none;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }

  .mobileCopyright {
    margin-top: 34px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    opacity: 0.5025343894958496;
  }

  .submit {
    display: none;
  }
}

.storiesIntro {
  background-color: #000;
  .moonImage {
    width: 100%;
  }

  .storiesInfo {
    padding: 48px 28px 48px 29px;
  }

  .monthStory {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .storyHeading {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 3.333px;
    width: 314px;
    margin-top: 16px;
  }

  .dateAuthor {
    display: flex;
    gap: 9px;
    margin-top: 16px;

    .date {
      color: #fff;
      font-size: 13px;
      opacity: 0.75;
    }

    .author {
      color: #fff;
      font-size: 13px;
    }
  }

  .about {
    margin-top: 24px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.6000000238418579;
  }

  .readDiv {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    .readButton {
      color: #fff;
      background-color: transparent;
      border: none;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }
}

.storyCards {
  .storyCard1,
  .storyCard2,
  .storyCard3,
  .storyCard4,
  .storyCard5,
  .storyCard6,
  .storyCard7,
  .storyCard8,
  .storyCard9,
  .storyCard10,
  .storyCard11,
  .storyCard12,
  .storyCard13,
  .storyCard14,
  .storyCard15,
  .storyCard16 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 375px;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(./assets/stories/mobile/mountains.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0px 32px 40px 33px;

    .date,
    .author {
      color: #fff;
      font-size: 13px;
    }

    .title {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
      margin-top: 4px;
    }

    .author {
      margin-top: 4px;
    }

    .line {
      width: 100%;
      height: 1px;
      opacity: 0.25;
      background: #fff;
      margin-top: 16px;
    }

    .submitPart {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }

    .readButton {
      color: #fff;
      background-color: transparent;
      border: none;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }

  .storyCard2 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(./assets/stories/mobile/cityscapes.jpg);
  }

  .storyCard3 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(./assets/stories/mobile/18-days-voyage.jpg);
  }

  .storyCard4 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(./assets/stories/mobile/architecturals.jpg);
  }

  .storyCard5 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(./assets/stories/mobile/world-tour.jpg);
  }

  .storyCard6 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(./assets/stories/mobile/unforeseen-corners.jpg);
  }

  .storyCard7 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(./assets/stories/mobile/king-on-africa.jpg);
  }

  .storyCard8 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(./assets/stories/mobile/trip-to-nowhere.jpg);
  }

  .storyCard9 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(./assets/stories/mobile/rage-of-the-sea.jpg);
  }

  .storyCard10 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(./assets/stories/mobile/running-free.jpg);
  }

  .storyCard11 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(./assets/stories/mobile/behind-the-waves.jpg);
  }

  .storyCard12 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(./assets/stories/mobile/calm-waters.jpg);
  }
  .storyCard13 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(./assets/stories/mobile/milky-way.jpg);
  }

  .storyCard14 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(./assets/stories/mobile/dark-forest.jpg);
  }
  .storyCard15 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(./assets/stories/mobile/somwarpet.jpg);
  }

  .storyCard16 {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      ),
      url(./assets/stories/mobile/land-of-dreams.jpg);
  }
}

.heroImage {
  width: 100%;
}

.featuresAboutDiv {
  background-color: #000;
  padding: 0px 28px 72px 29px;
  .line {
    width: 128px;
    height: 6px;
    background: linear-gradient(
      27deg,
      #ffc593 0%,
      #bc7198 51.95%,
      #5a77ff 100%
    );
    margin-top: -5px;
  }

  .featuresHeading {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 3.333px;
    margin-top: 66px;
  }

  .featuresAbout {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 16px;
    opacity: 0.6;
  }
}

.featuresCard,
.featuresCard2,
.featuresCard3,
.featuresCard4,
.featuresCard5,
.featuresCard6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  padding: 0px 32px;
  text-align: center;

  .featureCardHeading {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin-top: 48px;
  }

  .featureCardAbout {
    color: #000;
    font-size: 15px;
    line-height: 25px;
    margin-top: 16px;
  }
}

.featuresCard2 {
  margin-top: 56px;

  .featureCardHeading {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin-top: 66px;
  }
}

.featuresCard3,
.featuresCard4,
.featuresCard5,
.featuresCard6 {
  margin-top: 55px;
}

.inviteDiv,
.inviteDivPricing {
  background-image: url(./assets/shared/mobile/bg-beta.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0px 32px 64px 33px;
  margin-top: 91px;

  .line {
    width: 128px;
    height: 6px;
    background: linear-gradient(
      27deg,
      #ffc593 0%,
      #bc7198 51.95%,
      #5a77ff 100%
    );
  }

  .inviteText {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 3.333px;
    padding-top: 58px;
    text-transform: uppercase;
  }

  .invitePart {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
  }

  .inviteButton {
    color: #fff;
    border: none;
    background-color: transparent;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
  }
}

.pricingIntro {
  padding: 0px 28px 72px 29px;
  background-color: #000;
  .heroImage {
    width: 100%;
  }

  .line {
    width: 128px;
    height: 6px;
    background: linear-gradient(
      27deg,
      #ffc593 0%,
      #bc7198 51.95%,
      #5a77ff 100%
    );
    margin-top: -5px;
  }

  .pricingHeading {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 3.333px;
    margin-top: 66px;
  }

  .pricingAbout {
    color: #fff;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.6;
    margin-top: 16px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 32px;
}

.switch input {
  opacity: 0;
  width: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dfdfdf;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 32px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  margin: 3px 0px;
  margin-left: 5px;
  background-color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(30px);
  background-color: #fff;
}

.pricePlansWrapper {
  margin-top: 64px;
  padding: 0px 28px;
  .pricePlans {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;

    .priceMonthly,
    .priceYearly {
      text-align: right;
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
    }

    .priceYearly {
      opacity: 0.5;
    }
  }

  .basicPlan,
  .proPlan,
  .businessPlan {
    margin-top: 40px;
    padding: 56px 36px 40px;
    background-color: #f5f5f5;

    .basicText,
    .proText,
    .businessText {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      line-height: 25px;
    }

    .aboutBasic,
    .priceMonthlyText,
    .aboutPro,
    .aboutBusiness {
      text-align: center;
      font-size: 15px;
      line-height: 25px;
      opacity: 0.6;
      margin-top: 18px;
    }

    .priceMonthlyText {
      width: 100%;
      margin-top: 0px;
    }

    .basicPrice,
    .proPrice,
    .businessPrice {
      color: #000;
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 4.167px;
      text-transform: uppercase;
      margin-top: 40px;
    }

    .claimButton {
      margin-top: 40px;
      padding: 12px 0px;
      width: 100%;
      background: #000;
      border: none;
      color: #fff;
      text-align: center;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }

  .line {
    width: 100%;
    height: 6px;
    background: linear-gradient(
      27deg,
      #ffc593 0%,
      #bc7198 51.95%,
      #5a77ff 100%
    );
    margin-top: 24px;
  }

  .proPlan {
    background-color: #000;
    margin-top: 0px;

    .proText,
    .aboutPro,
    .proPrice,
    .priceMonthlyText {
      color: #fff;
    }

    .claimButton {
      background-color: #fff;
      color: #000;
    }
  }
}

.chartDiv {
  margin-top: 64px;
  padding: 0px 28px 0px 29px;

  .chartHeadings {
    color: #000;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    margin-top: 23px;
  }
  .line {
    height: 1px;
    background-color: #000;
    margin-top: 23px;
  }

  .plansClassified {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    padding-right: 47px;

    .chartPlanTexts {
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 1.667px;
    }

    .checkImage {
      margin-top: 8px;
    }
  }

  .checksDiv {
    display: flex;
    justify-content: space-between;
  }

  .whiteLine {
    height: 1px;
    background-color: #dfdfdf;
    margin-top: 24px;
  }
}

.inviteDivPricing {
  margin-top: 64px;
}

.heroTablet,
.lineVertical {
  display: none;
}

.hero2 {
  display: none;
}

.claimButton2 {
  display: none;
}

@media (min-width: 768px) {
  .hamburgerMenu {
    display: none;
  }

  .header {
    padding: 16px 40px;
    .menuLinks {
      border: none;
      background-color: transparent;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
      display: block;
    }

    .inviteButton {
      display: block;
      border: none;
      background-color: #000;
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
      padding: 12px 24px;
    }
  }

  .illustration1,
  .illustration2,
  .illustration3 {
    .hero,
    .heroImage {
      display: none;
    }

    .line {
      display: none;
    }

    .illustrationTexts {
      padding: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .heading {
        margin-top: 0;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.167px;
        width: 387px;
      }

      .about {
        margin-top: 21px;
        width: 387px;
      }
    }
  }

  .illustrationWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heroTablet {
      display: block;
    }

    .lineVertical {
      display: block;
      width: 6px;
      height: 304px;
      background: linear-gradient(
        27deg,
        #ffc593 0%,
        #bc7198 51.95%,
        #5a77ff 100%
      );
    }
  }

  .illustration2 {
    .computerPicture {
      display: none;
    }

    .illustrationTexts {
      padding-right: 54px;
    }

    .computerPictureTablet {
      display: inline;
    }
  }

  .illustration3 {
    .illustrationTexts {
      padding-left: 54px;
    }
  }

  .cardsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);

    .card1,
    .card2,
    .card3,
    .card4 {
      height: 500px;
      background-size: 100% 579px;
    }
  }

  .features,
  .features1,
  .features2 {
    padding-top: 120px;

    .aboutFeature {
      width: 457px;
    }
  }

  .features1,
  .features2 {
    padding-top: 80px;
  }

  .features2 {
    margin-bottom: 120px;
  }

  .footer {
    padding: 64px 40px;
    align-items: normal;

    .submitWrapper {
      display: flex;
      justify-content: space-between;
    }
    .submit {
      display: flex;
      gap: 16px;

      .inviteButton {
        background: transparent;
        border: none;
        color: #fff;
        text-align: right;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
      }
    }

    .buttonDiv {
      display: flex;
      flex-direction: row;
      gap: 26px;
      margin-top: 32px;
    }

    .submitPart,
    .socialMedia,
    .mobileCopyright {
      display: none;
    }
  }

  .mediaWrapper {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    .mediaDiv {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
      .media {
        filter: brightness(0) invert(1);
      }
    }

    .copyright {
      color: #fff;
      text-align: center;
      font-size: 15px;
      font-weight: 400;
      opacity: 0.5025343894958496;
    }
  }

  .storiesIntro {
    .moonImage {
      display: none;
    }

    .storiesInfo {
      padding: 122px 0px 122px 39px;
      background-image: url(./assets/stories/tablet/moon-of-appalacia.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .storyHeading {
      margin-top: 24px;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 4.167px;
    }

    .about {
      width: 387px;
    }
  }

  .storyCards {
    display: grid;
    grid-template-columns: repeat(2, 50%);

    .storyCard1,
    .storyCard2,
    .storyCard3,
    .storyCard4,
    .storyCard5,
    .storyCard6,
    .storyCard7,
    .storyCard8,
    .storyCard9,
    .storyCard10,
    .storyCard11,
    .storyCard12,
    .storyCard13,
    .storyCard14,
    .storyCard15,
    .storyCard16 {
      height: 500px;
      background-size: cover;
      background-position: center;
    }
  }

  .heroImage {
    display: none;
  }

  .featuresIntro {
    display: flex;
    align-items: center;
    background-color: #000;

    .line {
      display: none;
    }

    .featuresAboutDiv {
      padding: 0px 0px 0px 48px;
    }

    .verticalLine {
      width: 10px;
      height: 144px;
      background: linear-gradient(
        27deg,
        #ffc593 0%,
        #bc7198 51.95%,
        #5a77ff 100%
      );
    }

    .featuresHeading {
      margin-top: 0;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 4.167px;
    }

    .featuresAbout {
      margin-top: 21px;
      width: 387px;
    }

    .hero2 {
      width: 100%;
      display: block;
    }
  }

  .featuresCards {
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .featuresCard,
  .featuresCard2 {
    margin-top: 0px;
  }

  .featuresCard2 {
    .featureCardHeading {
      margin-top: 84px;
    }
  }

  .featuresCard3,
  .featuresCard4,
  .featuresCard5,
  .featuresCard6 {
    margin-top: 81px;
  }

  .inviteDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 114px;
    padding: 0 40px 0 0;
    .line {
      display: none;
    }

    .verticalLine {
      width: 6px;
      height: 100%;
      background: linear-gradient(
        27deg,
        #ffc593 0%,
        #bc7198 51.95%,
        #5a77ff 100%
      );
    }

    .lineTextWrapper {
      display: flex;
    }

    .inviteText {
      padding: 68px 0px 68px 33px;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 4.167px;
      width: 400px;
    }
  }

  .pricingIntro {
    padding: 0;
    display: flex;

    .line {
      display: none;
    }

    .verticalLine {
      width: 10px;
      height: 144px;
      background: linear-gradient(
        27deg,
        #ffc593 0%,
        #bc7198 51.95%,
        #5a77ff 100%
      );
    }

    .pricingHeading {
      margin-top: 0;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 4.167px;
    }

    .pricingAbout {
      margin-top: 21px;
    }

    .pricingWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .textsDiv {
      padding-left: 48px;
    }

    .hero2 {
      display: block;
    }
  }

  .pricePlansWrapper {
    margin-top: 112px;

    .basicPlan {
      display: flex;
      justify-content: space-between;
      padding: 40px 48px 40px 40px;

      .basicText,
      .aboutBasic {
        text-align: left;
      }

      .aboutBasic {
        width: 270px;
      }

      .basicPrice {
        margin-top: 0;
      }
    }

    .priceTop {
      display: flex;
      flex-direction: column;
    }

    .claimButton {
      display: none;
    }

    .claimButton2 {
      display: block;
      margin-top: 32px;
      background-color: #000;
      border: none;
      padding: 12px 41px;
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
    }

    .line {
      display: none;
    }

    .proPlan {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;
      padding: 0px 48px 0px 0px;

      .verticalLine {
        width: 6px;
        height: 270px;
        background: linear-gradient(
          27deg,
          #ffc593 0%,
          #bc7198 51.95%,
          #5a77ff 100%
        );
      }

      .wrapper {
        display: flex;
        align-items: center;
      }

      .textWrapper {
        padding-left: 34px;
      }
      .aboutPro {
        width: 270px;
      }

      .planPicker {
        padding: 12px 41px;
        border: none;
        color: #000;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
      }

      .claimButton2 {
        width: 100%;
        display: block;
        margin-top: 32px;
        background-color: #fff;
        border: none;
        padding: 12px 41px;
        color: #000;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
      }

      .proPriceDiv {
        margin-top: 40px;
      }

      .proPrice {
        margin-top: 0;
      }

      .proText,
      .aboutPro {
        text-align: left;
      }
    }
    .businessPlan {
      display: flex;
      justify-content: space-between;
      padding: 40px 48px 40px 40px;
      .priceTop {
        display: flex;
        flex-direction: column;
      }

      .businessText,
      .aboutBusiness {
        text-align: start;
      }

      .aboutBusiness {
        width: 270px;
      }

      .pickButton {
        display: block;
        margin-top: 32px;
        background-color: #000;
        border: none;
        padding: 12px 41px;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
      }

      .businessPrice {
        margin-top: 0px;
      }
    }
  }
}
